.containerC1 {
  display: flex;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width:100vw;
  height:100vh;
}

.sidebar {
  background-color: #555;
  width: 25%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
}

.sidebar h2 {
  color: #fff;
  font-size: 1.5rem;
  
}

.chapter {
  margin-bottom: 10px;
}

.dropdown-header {
  color: #48b2d9;
  cursor: pointer;
  margin-bottom: 10px;
  transition: color 0.3s ease;
}

.dropdown-header:hover {
  color: #2a8ca7;
}

.dropdown-content {
  list-style-type: none;
  display: none;
}

.dropdown-content.open {
  display: block;
}

.content-item {
  color: #fff;
  margin: 5px 0;
  padding: 5px 0;
  font-size: 1rem;
  border-bottom: 1px solid #777;
}

.content {
  background-color: #1a1a1a;
  width: 75%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow-y: auto;
}

.sign-container {
  background-color: #444;
  padding: 30px;
  border-radius: 30px;
  margin-bottom: 20px;
}

.sign-image {
  width: 150px;
  height: 150px;
}

.highlight-text {
  color: #faff70;
  font-size: 1.5rem;
  margin-bottom: 40px;
  font-weight: bold;
}

.subheading {
  color: #cfcfcf;
  font-size: 1rem;
  margin-bottom: 20px;
}

.next-button {
  background-color: #48b2d9;
  border: none;
  padding: 15px 30px;
  color: #fff;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.next-button:hover {
  background-color: #2a8ca7;
}
